* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  :root {
    --primary-color: #3b208d;
    --secondary-color: #ed9a9e;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    background: #f9f9fb;
  }
  
  body,
  input,
  textarea,
  button {
    font-size: 1.6rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  main {
    margin: 48px 0;
  }